<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
    <div class="list list-inset">
      <div class="list">
        <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
          
        <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password" placeholder="Password">
        </label>
          
		<label class="item">
            <button class="button button-block button-positive" >
            Login 
			</button>
        </label>
        <label class="item">
            <button class="button button-block button-positive" ng-click="fbLogin()">
            Login with Facebook
            </button>
        </label>
      </div>
    </div>    
    </form>
  </ion-content>
</ion-modal-view>
