<ion-view view-title="Sessions" >
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="session in sessions" href="#/app/sessions/{{session.id}}">
                {{session.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>